@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  /* background-color: #485461; */
  /* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  width: 550px;
  padding: 30px;
  letter-spacing: 1px;
  /* background-color: #b8b9ea; */
  color: white;
  /* box-shadow: -4px 4px 12px 1px rgba(0, 0, 0, 0.4); */
}

.login header {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 25px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 45px;
  margin-bottom: 45px;
  font-size: 1.2rem;
  color: white;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 1rem;
}

.submit:hover {
  /* background-color: #fed6d0; */
  color: #111;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
